body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding-left: 150px;
  padding-right: 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

li {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style: none;
  padding: 0%;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.intro-content {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro-div-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.website-awesome {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.intro-text {
  font-size: 18px;
  color: #E5E7EB;
}

.intro-btn {
  background-color: #3882f6;
  color: white;
  border: none;
  align-self:flex-start;
}

.section-albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  gap: 15px;
}

.img-items {
  flex-wrap: wrap;
}

.title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.section-quote {
  background-color: #E5E7EB;
  padding: 150px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quoter {
  align-self:flex-end;
  font-size: 24px;
  color: #1f2937;
  font-weight: bold;
}

.card {
  padding: 150px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.call-container {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px;
  padding-right: 100px;
  padding-left: 100px;
  color:#f9faf8;

  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.call-action-title {
  font-size: 24px;
  font-weight: bold;
}

.call-btn {
  background-color: #3882f6;
  color: white;
  border: solid white;
  align-self:center;
  flex-shrink: 0;
}

button {
  padding: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}

.img-items {
  display: flex;
  gap: 30px;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
}